*{
    box-sizing: border-box;
}
header {
    background-color: rgb(0, 0, 0, 0);
}

main h2 {
    margin-bottom: 30px;
}
main .botheader {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url(../Media/img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
main .portrait {
    width: 200px;
}
main .botheader h1 {
    width: 300px;
}

main .about {
    padding: 50px 0;
}

main .about img {
    width: 50%;
}
main .about p {
    width: 50%;
}

main .backgroundnow {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url(../Media/img/backgroundnow.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
main .now {
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px 0 50px 0;
}
main .now a {
    height: 50px;
}
main .now img {
    width: 200px;
}


main .skills {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
main section.skills article.skillbars div.langages {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section.skills article.skillbars div.langues {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .skills .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .skills h2 {
    width: 50%;
}
main .skills p {
    width: 50%;
    text-align: center;
}
main .skills .skillbars {
    display: flex;
    justify-content: space-evenly;
}

main .resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .resume img {
    width: 50%;
    margin-bottom: 30px;
}


main #portfolio {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url(../Media/img/backgroundnow.jpg) no-repeat;

}
main .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 50px 0; 
}
main .portfolio p {
    text-align: center;
}
main .portfolio .carousel-caption, main .carousel-control-prev, main .carousel-control-next {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) );
}
#carouselPortfolio {
    width: 75%;
}

footer {
    padding: 50px 0 100px; 
}

footer img {
   width: 60%;
   transition-duration: 0.5s;
   padding: 40px 0;
}
footer img:hover {
    width: 75%;
    transition-duration: 0.5s;
    padding: 40px 0;
}


@media (max-width: 768px) {
    main .about {
        flex-direction: column;
        text-align: justify;
    }
    main .about img {
        width: 100%;
    }
    main #about p,
    main #skills p,
    main #portfolio p {
        width: 100%;
        text-align: justify;
    }
    main .resume img {
        width: 100%;
    }
    #carouselPortfolio {
        width: 100%;
    }
}