header {
    background-color: rgb(0, 0, 0, 0);
}
header h2 {
    color: white;
    font-size: 40px;
}
header li {
    font-size: 20px;
}
main .botheader {
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url(../Media/img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
main .portrait {
    width: 200px;
}

main .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
main .about img {
    width: 300px;
}




